<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208434215479-5e6fl40gudthoproaflp0ajfgbfp0uue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208434215479-5e6fl40gudthoproaflp0ajfgbfp0uue</string>
	<key>API_KEY</key>
	<string>AIzaSyCqHubj7zNjL3e7MPWTyHHNugUpIf9o-G0</string>
	<key>GCM_SENDER_ID</key>
	<string>208434215479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Yogamates.app</string>
	<key>PROJECT_ID</key>
	<string>yoga-mates-db222</string>
	<key>STORAGE_BUCKET</key>
	<string>yoga-mates-db222.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208434215479:ios:e8323e00fd9a6aabdbddb2</string>
</dict>
</plist>